<% if idea_counter == 2 then%>
				<div class = "row">	
					<div class="span5 newest pd-element<%= idea.color_id %> status<%= idea.status %>" >
<% elsif idea_counter == 1 then%>
				
					<div class="span5 pd-element<%= idea.color_id %> status<%= idea.status %>">
<% else %>					
				<div class = "row">	
					<div class="span5 pd-element<%= idea.color_id %> status<%= idea.status %>">					
<% end %>					
						<div class = "row">
							<div class="span3">
							<h2><%= idea.title%></h2>
							</div>
							<div class="span2">
								<h1><%= idea.updated_at.getlocal.strftime("%d/%m %H:%M") %></h1>							
							</div>

						</div>
						<div class = "modified-by"><small> updated by : <%= idea.modified_by %></small></div>

<!--
						<% if idea.status == "1" then %>
							<div class="progress progress-warning">
								<div class="bar" style="width: 100%"></div>
							</div>		
						<% else %>
							<div class="progress">
								<div class="bar" style="width: <%= idea.progress%>%"></div>
							</div>		
						<% end %>
-->
					
<% if idea_counter != 0 then%>					
					</div>
<% end %>
				</div>
