<div class="row">
	<div class="span11 offset1">
		<h1>IdéBanken</h1>
	</div>
</div>

<div class="row">
	<div class="span7">
		<h3>Add a New Idea</h3>
		
		
		
		<%= form_for @post do |form| %>
			<% if @post.errors.any? %>
				<h2>Errors:</h2>
				<ul>
					<% @post.errors.full_messages.each do |message| %>
						<li><%= message %></li>
					<% end %>
				</ul>
			<% end %>
			<p>
				<%= form.label :title %> 
				<%= form.text_field :title %>
			</p>
			<p>
				<%= form.label :content %> 
				<%= form.text_area :content, :class => "span6" %>
			</p>
			<div class="row">
				<div class="span1 offset1">
					<%= form.label :status %>
				</div>
				<div class="span4">
					<%= form.select(:status, [['Idea', 1], ['In Development', 2]]) %>
				</div>
			</div>
			<!--  not necessary with no progress bar
<div id="progress-field">
				<%= form.label :progress %>
				<div id="slider"> </div>
				
				<%= form.hidden_field :progress %>
			</div>
-->
			<p>
				<%= form.submit "Submit Idea", :class => "btn" %>
			</p>
		<% end %>
	</div>
	<div class="span5">
		<h3>Resent Ideas</h3>
		<ol>
			<% @latest.each do |post| %>
				<li>
					<h2 class="idea-links"><%= link_to post.title, post %></h2>
					<small>updated: <%= post.updated_at.getlocal.strftime("%d/%m %H:%M") %></small>
					<small> - by : <%= post.modified_by %></small>	
				</li>
			<% end %>
		</ol>
	
	
		<h3>All Ideas</h3>
		<ul>		
			<% @posts.each do |post| %>
				<li>
					<h2 class="idea-links"><%= link_to post.title, post %> </h2>
					<small>updated: <%= post.updated_at.getlocal.strftime("%d/%m %H:%M") %></small>
					<small> - by : <%= post.modified_by %></small>	
				</li>
			<!--
				<p><%= post.content %></p>
				<p>
					<%= link_to "Edit", edit_post_path(post) %> | 
					<%= link_to "Delete", post, :confirm => "Are you sure you want to delete post?", :method => :delete %>
				</p>
				<hr />
			-->
			<% end %>
		</ul>
	</div>
</div>
