	

<div class="row" id="top">
		<div class="span2" id ="back">
		<a href="/" class="btn btn-primary btn-large"><i class="icon-white icon-chevron-left"></i> Back</a>
		</div>
	<div class="span10">
		<h1><%=@post.title%>
		<small class="author">Updated by: <%= @post.modified_by %> at <%= @post.updated_at.getlocal.strftime("%d/%m %H:%M") %></small>
		</h1>
		
	</div>
</div>

<div class= "row">
	<div class = "span7">
		<%= form_for @post do |form| %>
		
		<% if @post.errors.any? %>
			<h2>Errors:</h2>
			<ul>
				<% @post.errors.full_messages.each do |message| %>
					<li><%= message %></li>
				<% end %>
			</ul>
		<% end %>

<!--
	<p>
		<%= form.label :title %><br />
		<%= form.text_field :title %>
	</p>
	-->	

		<p>
			<!-- <%= form.label :content %> -->
			<%= form.text_area :content, :class => "span6" %>
		</p>
			<div class="row">
				<div class="span1 offset1">
					<%= form.label :status %>
				</div>
				<div class="span4">
					<%= form.select(:status, [['Idea', 1], ['In Development', 2]]) %>
				</div>
			</div>
		<!-- not necessary with no progress bar
<div id="progress-field">
				<%= form.label :progress %>
				<div id="slider"> </div>
				
				<%= form.hidden_field :progress %>
		</div>
-->
	
		<div class="span1 offset1" >
			<%= form.submit "Update Idea", :class => "btn" %>
		</div>

		<% end %>
	</div>

	<div class="span5">
		<!- list all files in dropbox folder   ->
		<h3>Files in dropbox folder</h3>
		<table>
			
			<% @dbdata.filenames.each do |val| %>
				<tr>
				<td><%= val %></td>
				</tr>				
			<% end %>


		</table>
		<small><%=link_to "go to dropbox web folder", @folderlink, :target => '_blank'%></small>
	</div>
</div>
<div class="row">

	<div class="span2 offset8">
					<!-- Button to trigger modal -->
		<a href="#myModal" role="button" class="btn-danger" data-toggle="modal">Delete Idea</a>
		 
		<!-- Modal -->
		<div id="myModal" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
		  <div class="modal-header">
		    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
		    <h3 id="myModalLabel">Delete "<%=@post.title%>"</h3>
		  </div>
		  <div class="modal-body">
		    <p>Are you sure you want to delete this idea and all files in the associated dropbox folder?</p>
		  </div>
		  <div class="modal-footer">
		  	<%= link_to "Delete", @post, :method => :delete %>
		    <button class="btn" data-dismiss="modal" aria-hidden="true">Cancel</button>
		  </div>
		</div>
			
			
	</div>

</div>
